<h1>Listing images</h1>

<table>
  <% @images.each do |image| %>
    <tr>
      <td> Tags:
          <% image.tag_list.each do |tag| %>
          <label class="btn btn-light"><%= tag %></label>
          <% end %>
      </td>
      <td><%= image_tag image.image_url, class: 'image-adjusted'%></td>
    </tr>
  <% end %>
</table>
