<p>
  <p>Image:</p>
  <p>Tags:
    <% @image.tag_list.each do |tag| %>
      <label class="btn btn-light"><%= tag %></label>
    <% end %>
  </p>
  <%= image_tag @image.image_url, class: 'image-adjusted'%>
</p>
